<body>
    <div class="sidebar">

            <h4 class="title"> <%= @user.username %> </h4>
            
                <div class="avatar">
                    <% if @user.image.present? %>
                        <%= image_tag @user.image %>
                    <% end %>
                </div>

                <div class="about_me">
                    <h4 class="header"> About me: </h4>
                        <p class= "about"><%= @user.about %></p>
                </div>

        <% if @user = current_user %>
            <ul class="actions">
                <li><%= link_to "Edit sign in information", edit_user_registration_path%></li>
                <li><%= link_to "Edit profile", edit_user_path %></li>
                <li><%= link_to "Return home", root_path %></li>
            </ul>
        <% end %>
    </div>

    <div class="posts">
        <% @posts.each do |post| %>
            <% if post.author == @user %>
                <div class="ind-posts">

                    <% if post.image.present? %>
                        <div class="thumbnail"> <%= link_to (image_tag post.image), post %></div>
                    <% else %>
                        <div class="thumbnail"> <%= link_to (image_tag("/assets/textthumb.png")) %></div>
                    <% end %>

                        <li class="title"><%= link_to post.name, post %> | <%= post.get_likes.size %> <%= (post.get_likes.size) == 1 ? "vote!" : "votes!" %></li>
                </div>
            <% else %>
                You have no posts, they'll show up here when added.
            <% end %>
        <% end %>
    </div>
</body>
