<div class="sidebar">
    <p class="logo"> <%= link_to image_tag("/assets/linkitlogo.png"), posts_path %> </p>
        <ul class="actions">
            <% if user_signed_in? %>
                <% if current_user == @post.author %>
                    <%= turbo_frame_tag "edit_post_frame" do %>
                        <li><%= link_to "Edit post", edit_post_path(@post) %></li>
                    <% end %>
                    <li><%= link_to "Remove post", post_path(@post),
                            method: :delete,
                            data: { confirm: "Do you want to remove this post?" } %></li>
                <% end %>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% end %>

            <% unless user_signed_in? %>
                <%= turbo_frame_tag "sign_frame" do %>
                    <li><%= link_to "Sign up", new_user_registration_path %></li>
                    <li><%= link_to "Sign in", new_user_session_path %></li>
                <% end %>
            <% end %>

            <li><%= link_to "Return home", root_path %></li>
        </ul>
    <ul class="attributes">
        <h3> Tags: </h3>
            <% if @post.tags.any? %>
                <%= render "tags/tag_index", tags: @post.tags, posts: @posts %>
            <% else %>
                There are no tags for this post!
            <% end %>
    </ul>
</div>