<div class="sidebar">
    <p class="logo"> <%= link_to image_tag("/assets/linkitlogo.png"), posts_path %> </p>
        <ul class="attributes">
            <h4 class="title"><%= @post.name %></h4>

                <p class="author">Posted by <%= link_to @post.author.username, @post.author %></p>

                <div class="votes">
                    <p class="count"> <%= @post.get_likes.size %> <%= (@post.get_likes.size) == 1 ? "vote!" : "votes!" %> </p>
                    <% users_only do %>
                        <% if current_user.liked? @post %>
                                <%= render "posts/unvote", post: @post %> 
                        <% else %>
                                <%= render "posts/vote", post: @post %>
                        <% end %>
                    <% end %>
                </div>

                <h3> Tags: </h3>
                <% if @post.tags.any? %>
                        <ul class="tags"> <li> <%= render @post.tags, post: @post %> </li> </ul>
                <% else %>
                        There are no tags for this post!
                <% end %>
        </ul>       

        <ul class="actions">
            <% if user_signed_in? %>
                <% if current_user == @post.author %>
                    <li><%= link_to "Edit post", edit_post_path(@post) %></li>
                    <li><%= link_to "Remove post", post_path(@post),
                            method: :delete,
                            data: { confirm: "Do you want to remove this post?" } %></li>
                <% end %>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger m1-1" %></li>
                Signed in as <%= current_user.username %>.
            <% end %>

            <% unless user_signed_in? %>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
                <li><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>

            <li><%= link_to "Return home", root_path %></li>
        </ul>
</div>