<%= form_with(model: @post, local: true) do |f| %>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div class="form-group">
        <%= f.label :youtubeurl, "Video URL:" %>
        <%= f.text_field :youtubeurl %>
    </div>

    <div class="form-group">
        <div> <%= label_tag :tag_names, "Tags" %> </div>
        <%= render @post.tags, post: @post %>
        <%= text_field_tag :tag_names, "", class: "form-control" %>
    </div>

    <%= f.submit %>
<% end %>